*/*/config.old
*/*/rootfs_config.old
build/
images/linux/*
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
components/plnx_workspace
components/yocto
!images/linux/bl31.elf
!images/linux/pmufw.elf
!images/linux/u-boot.elf
!images/linux/u-boot-dtb.elf
!images/linux/zynqmp_fsbl.elf
!images/linux/boot.scr
!images/linux/image.ub
!images/linux/system.bit
!images/linux/system.dtb
